.step-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90vw;
  margin: auto;
  gap: 10px;
}

.steps-input {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  
}
.input-button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #839750;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}