.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.day-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .day-text {
    font-weight: 700;
    font-size: 1.2rem;
    color: #333;
  }
  
  .next-day-button {
    font-size: 14px;
    padding: 8px 15px;
    background-color: #839750;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-day-button:hover {
    background-color: #4f5c2f;
  }
  
  .next-day-button:focus {
    outline: none;
  }
  
  .Hearts {
    display: flex;
    justify-content: flex-end;  /* Aligns hearts to the right */
    align-items: center;
    gap: 10px;
  }